<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @user.name %>
</p>

<p>
  <h3>Content:</h3>
  <%= @user.content %>
</p>

<p>
  <h3>Tags:</h3>
  <ul>
    <%= @user.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>